.block {
    width: 100px;
    height: 100px;
    position: absolute;
}

#block1 {
    top: 120px;
    left: 120px;
    background-color: blue;
}

#block2 {
    top: 70px;
    left: 70px;
    background-color: green;
}

#block3 {
    top: 20px;
    left: 20px;
    background-color: yellow;
}

